<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeviceActivityMonitor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ScreenTimeReport.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ShieldAction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ShieldConfiguration.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Stoplight-NC2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>shieldConfiguration.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F30C13242C1A923E001677DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F30C13632C1A9D5A001677DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F30C13892C1A9D8D001677DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F30C13CB2C1AB5F9001677DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3B005D42C1BE91B004A82ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
